@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;

<h2>Add a new course</h2>
<hr>

<p>@Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.CourseNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CourseName)
    @Html.TextBoxFor(model => model.CourseName)

    @Html.LabelFor(model => model.CourseNumber)
    @Html.TextBoxFor(model => model.CourseNumber)

    @Html.LabelFor(model => model.Department)
    @Html.TextBoxFor(model => model.Department)

    <input type="submit" value="Add new course" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>